*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5ecd9;
    font-family: Volkhov;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 100vh;
}
header nav{
    width: 100%;
    height: 156px;
    background-color: #fffcf5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav h1.logo{
    width: 200px;
    color: #bbb08b;
    font-weight: 100;
    letter-spacing: 7px;
    margin-left: 90px;
    transition: all .8s;
}
header nav h1.logo:hover{
    transform: scale(1.08);
}
header nav h1.logo a{
    text-decoration: none;
    color: #bbb08b;
}
header nav ul{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #b4a87d;
    font-size: 10px;
    letter-spacing: 2px;
}
header nav ul.start-nav{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 70px;
}
header nav ul.start-nav li a{
    padding: 20px 10px;
    transition: all .2s;
}
header nav ul.start-nav:hover li a{
    color: #e4deca;
}
header nav ul.start-nav li:hover a{
    color: #b4a87d;
}
header nav ul.end-nav{
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    padding: 0 20px;
    margin-right: 100px;
}
header nav ul.end-nav li{
    padding: 20px 6px;
}
header nav ul.end-nav li a{
    padding: 10px 0px;
    transition: all .2s;
}
header nav ul.end-nav:hover li a{
    color: #e4deca;
}
header nav ul.end-nav li:hover a{
    color: #b4a87d;
}
header nav ul.start-nav li ul.animate__animated{
    display: none;
    position: absolute;
    margin-top: 10px;
    animation-duration: .2s;
}
header nav ul.start-nav li:hover ul{
    display: block;
}
header nav ul.start-nav > li > ul{
    transition: all 1s;
    transform: rotateY(10deg);
}
header nav ul.start-nav li{
    transition: all 1s;
}
header nav ul.start-nav li:hover ul li a{
    color: #e4deca;
}
header nav ul.start-nav li ul li a{
    color: #e4deca;
    transition: all .5s;
}
header nav ul.start-nav li:hover ul li a:hover{
    color: #b4a87d;
}

header img.banner{
    width: 100%;
    height: 500px;
    background-size: contain;
    background-position: center;
    object-fit: cover;
}
main div.middle-txt{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #b4a87d;
    font-size: 12px;
}
main div.middle-txt .left-txt{
    width: 600px;
    height: 100%;
    padding-top: 230px;
    padding-left: 200px;
    letter-spacing: 2px;
    line-height: 20px;
}
main div.middle-txt .left-txt .up-txt{
    font-size: 14px;
}
main div.middle-txt .left-txt .down-txt{
    padding-top: 10px;
    padding-left: 110px;
    font-size: 11px;
    color: #8f8f8f;
}
main div.middle-txt div.right-txt{
    width: 600px;
    height: 100%;
    padding-top: 230px;
    padding-right: 130px;
    line-height: 20px;
}
main div.middle-txt div.right-txt span a{
    text-decoration: none;
    color: #898062;
    border-bottom: 1px solid #d4ccb5;
    transition: all .5s;
}
main div.middle-txt div.right-txt span a:hover{
    color: #c2b796;
}
main div.middle-img{
    width: 100%;
    height: 130vh;
    display: flex;
    justify-content: space-around;
}
main div.middle-img .left-img img{
    width: 550px;
    margin-top: 150px;
}
main div.middle-img .right-img img{
    width: 480px;
    margin-top: 80px;
}
main div.logo-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main div.logo-icon img{
    width: 380px;
}
main div.end-img{
    height: 138vh;
}
main div.end-img img{
    width: 100vw;
    height: 135vh;
    filter: contrast(2px);
    margin-top: 20px;
    position: relative;
}
main div.end-img button a{
    text-decoration: none;
    position: absolute;
    top: 2450px;
    left: 600px;
    padding: 21px 34px;
    font-family: Volkhov;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .2em;
    color: #f5ecd9;
    background-color: transparent;
    border: 2px solid #f5ecd9;
    transition: all .3s;
}
main div.end-img button:hover a{
    background-color: #f5ecd9;
    color: #1d1d1d;
}
footer{
    width: 100%;
    height: 328px;
    background-color: #fffcf5;
    padding-top: 50px;
}
footer .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer img{
    width: 350px;
}
footer div.icons{
    width: 500px;
    margin: 0px 0 10px 0;
    font-size: 19px;
    color: #222222;
    
}
footer div.icons:hover a{
    color: #cec6b0;
}
footer div.icons a{
    color: #222222;
    transition: all .1s;
}
footer div.icons:hover a i{
    transition: all .1s;
}
footer div.icons:hover a:hover i{
    color: #222222;
}
footer .footer-txt{
    color: #b4a87d;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 1.3rem;
}
footer .footer-txt span a{
    text-decoration: none;
    color: #b4a87d;
    border-bottom: 1px solid #e8e3d1;
    transition: all .5s;
}
footer .footer-txt span a:hover{
    color: #dfd5b8;
}


@media only screen and (max-width: 600px) and (min-width: 200px){


    header nav{
        width: 100%;
        height: 156px;
        background-color: #fffcf5;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    header nav ul.start-nav{
        width: 200px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 70px;
    }

    header nav ul.end-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 100px;
        padding: 0 10px;
        margin-right: 100px;
    }
    header nav ul.end-nav li{
        padding: 0px 6px;
    }

}

@media only screen and (max-width: 800px) and (min-width: 600px){

    header nav ul.start-nav{
        width: 200px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 70px;
    }

    header nav ul.end-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 100px;
        padding: 0 10px;
        margin-right: 100px;
    }
    header nav ul.end-nav li{
        padding: 0px 6px;
    }
}

@media only screen and (max-width: 600px){
    




    header nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav h1.logo{
        width: 100%;
        font-size: 20px;
        margin-left: 0px;
    }
    header nav h1.logo a{
        width: 100%;
    }
    header nav ul{
        /* visibility: hidden; */
    }




    header img.banner{
        width: 600px;
        height: 77vh;
        object-fit: cover;
    }




    main div.middle-txt{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main div.middle-txt .left-txt{
        height: 0;
        padding-top: 300px;
        padding-left: 120px;
        letter-spacing: 2px;
        line-height: 20px;
    }
    main div.middle-txt div.right-txt{
        width: 500px;
        height: 0;
        padding: 0px;
        margin: 100px;
    }




    main div.logo-icon{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main div.logo-icon img{
        width: 500px;
    }



    main div.middle-img{
        margin-top: 50px;
        width: 100%;
        height: 210vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main div.middle-img .left-img img{
        width: 500px;
        margin-top: 150px;
    }
    main div.middle-img .right-img img{
        width: 500px;
        margin-top: 80px;
    }
  


    main div.end-img{
        height: 400px;
    }
    main div.end-img img{
        width: 100vw;
        height: 400px;
        margin-top: 20px;
        position: relative;
    }
    main div.end-img button a{
        position: absolute;
        top: 2520px;
        left: 180px;
    }
}





@media only screen and (max-width: 700px) and (min-width: 600px){


    
    header nav h1.logo{
        width: 100%;
        font-size: 20px;
        margin-left: 0px;
    }
    header nav h1.logo a{
        width: 100%;
    }
    header nav ul{
        /* visibility: hidden; */
    }




    main div.middle-txt{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main div.middle-txt .left-txt{
        height: 0;
        padding-top: 300px;
        padding-left: 120px;
        letter-spacing: 2px;
        line-height: 20px;
    }
    main div.middle-txt div.right-txt{
        width: 500px;
        height: 0;
        padding: 0px;
        margin: 100px;
    }





    main div.logo-icon{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main div.logo-icon img{
        width: 500px;
    }



    main div.middle-img{
        margin-top: 50px;
        width: 100%;
        height: 210vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main div.middle-img .left-img img{
        width: 500px;
        margin-top: 150px;
    }
    main div.middle-img .right-img img{
        width: 500px;
        margin-top: 80px;
    }


    main div.end-img{
        height: 400px;
    }
    main div.end-img img{
        width: 100vw;
        height: 400px;
        margin-top: 20px;
        position: relative;
    }
    main div.end-img button a{
        position: absolute;
        top: 2520px;
        left: 180px;
    }


}

@media only screen and (max-width: 820px) and (min-width: 700px){



    header nav h1.logo{
        width: 100%;
        font-size: 20px;
    }
    header nav h1.logo a{
        width: 100%;
    }
    header nav ul{
        /* visibility: hidden; */
    }



    main div.middle-txt{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main div.middle-txt .left-txt{
        height: 0;
        padding-top: 300px;
        padding-left: 120px;
        letter-spacing: 2px;
        line-height: 20px;
    }
    main div.middle-txt div.right-txt{
        width: 500px;
        height: 0;
        padding: 0px;
        margin: 100px;
    }





    main div.logo-icon{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main div.logo-icon img{
        width: 500px;
    }



    main div.middle-img{
        margin-top: 50px;
        width: 100%;
        height: 210vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main div.middle-img .left-img img{
        width: 500px;
        margin-top: 150px;
    }
    main div.middle-img .right-img img{
        width: 500px;
        margin-top: 80px;
    }





    main div.end-img{
        height: 400px;
    }
    main div.end-img img{
        width: 100vw;
        height: 400px;
        margin-top: 20px;
        position: relative;
    }
    main div.end-img button a{
        position: absolute;
        top: 2520px;
        left: 250px;
    }


}
